@font-face {
	font-family: "Cyberpunk";
	src: url("./font/Cyberpunk.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* grosse lettre */
body {
	font-family: "Cyberpunk";
	font-size: 15px;
	margin: 0;
	padding: 20px;
}
h1{
	margin-right: auto;
	text-align: center;
	margin-left: auto;
}


/* cours */
#list {
	display: grid;
	list-style-type: none;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(137px, 1fr));
	width: 100%;
	margin: 0;
	padding: 0;
}

#list li {
	cursor: pointer;
	padding: 5px 10px;
}


/* flexbox */
main {
	display: flex;
}

/* mon css pour la page */
#description {
	display: none;
	position: fixed;
	background-color: rgb(202, 202, 169);
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
}

/* tuto internet */
#description.show {
	display: block;
}

#description .content {
	display: flex;
	grid-gap: 20px;
}

#description .content img {
	width: 300px;
	height: 300px;
}

#description .content dd {
	margin-left: 0;
}

img{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255);
     
}

dl{
	border: 2px solid black;
	padding: 10px;
	background-color: white; 
}

li{
	border: 2px solid black;
	text-align: center;
}

#description .content img {
	width: 300px;
	height: 300px;
}